
:root {
  /* Sage */
  --light-sage: #e5e6de;
  --light-gray: #d6d5d0;
  --sage: #838577;
  --darker-sage: #626456;

/* Gray */
  --gray-5: #554f53;
  --gray-4: #615b5f;
  --gray-3: #807b7e;
  --gray-2: #c5c2c3;
  --gray-1: #e8e8ea;
}
