/* index.css */
@import 'variables.css';

/* resets and defaults */
  * {
    margin: 0;
    padding: 0;
  }
  *, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font: var(--typography-body);
    color: var(--colors-gray-100);
    background-color: var(--colors-gray-500);
  }
  h1 {
    font: var(--typography-heading1);
  }
  h2 {
    font: var(--typography-heading2);
  }
  h3 {
    font: var(--typography-heading3);
  }
  h4 {
    font: var(--typography-heading4);
  }
  h5 {
    font: var(--typography-heading5);
  }
  h6 {
    font: var(--typography-heading6);
  }
  caption {
    font: var(--typography-caption);
  }
  .eyebrow {
    font: var(--typography-eyebrow);
  }

  header {
    text-align: center;
    background-color: var(--colors-sage-800);
    color: var(--colors-cream-100);
    padding: 0.5rem;  
  }